.level_list {
  display: flex;
  flex-direction: column;
  width: 6em;
  padding: 0.2em 0.5em;
  gap: 0.3em;
  font-size: 0.8em;
}

.level_item {
  cursor: pointer;
}

.level_item_1 {
  color: var(--level1);
}

.level_item_2 {
  color: var(--level2);
}

.level_item_3 {
  color: var(--level3);
}

.level_item_4 {
  color: var(--level4);
}

.level_item_5 {
  color: var(--level5);
}

.level_item_6 {
  color: var(--level6);
}
