.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 0.7rem;
  border: var(--black) solid 3px;
  border-radius: 3em;
  padding-left: 1.8em;
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
}

.footer_list{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer_list li a{
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  font-size: 0.8rem;
  padding-left: 0.9em;
  padding-right: 0.9em;
}

.footer_list li a:hover{
  color: rgba(255, 140, 0, 0.9);
  transition: 0.4s;
}

.footer_rss{
  background-image: url('./rs_school_js.svg?inline');
  width: 5.8em;
  height: 2em;
  margin: 1em 1.4em;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s;
}

.footer_rss:hover,
.footer_rss:focus{
    filter: invert(94%) sepia(11%) saturate(6662%) hue-rotate(319deg) brightness(98%) contrast(106%);
    transition: 0.4s;
}

@media (max-width: 558px){
  .footer{
    font-weight: 500;
    font-size: 0.6rem;
  }

  .footer_list li a{
    font-weight: 500;
    font-size: 0.5rem;
    padding-left: 0.6em;
    padding-right: 0.6em;
  }
  
  .footer_rss{
    width: 4.3em;
    height: 1.6em;
  }

}
