.footer{

  margin: 0 1em;
  /* background-color: rgb(255, 167, 95); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  border: #000 solid 2px;
  border-radius: 3em;
  padding-left: 1em;
}

.footer_list{
  list-style: none;
  display: flex;
  flex-direction: row;
  
}

.footer_list li a{
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding-left: 1em;
  padding-right: 1em;
}
.footer_list li a:hover{
  color: #21a0a0ff;
  transition: 0.4s;
}

.footer_rss{
  background-image: url('./rs_school_js.svg?inline');
  width: 6em;
  height: 2em;
  margin: 1em;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s;
}
.footer_rss:hover,
.footer_rss:focus{
    filter: brightness(0) saturate(100%) invert(55%) sepia(62%) saturate(485%) hue-rotate(131deg) brightness(83%) contrast(94%); 
    transition: 0.4s;
}
