.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 25%;
  background-color: aliceblue;
  border-radius: 1em;
  padding: 2em;
}

.btn {
  font-family: 'Inter';
  border: 4px solid var(--black);
  border-radius: 1em;
  padding: 1em 2em;
  cursor: pointer;
  box-shadow: 0 0 8px 4px gainsboro;
}

.btn:active {
  background-color: var(--black);
  color: var(--white);
  border: 4px solid var(--white);
}

.btn:hover {
  transform: scale(1.2);
}

.lvl1 {
  background-color: var(--level1);
}

.lvl2 {
  background-color: var(--level2);
}

.lvl3 {
  background-color: var(--level3);
}

.lvl4 {
  background-color: var(--level4);
}

.lvl5 {
  background-color: var(--level5);
}

.lvl6 {
  background-color: var(--level6);
}

.modal {
  background-color: beige;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}